---
// src/pages/index.astro
import SimpleLayout from "../layouts/Layout.astro";
import Search from "@astrojs/starlight/components/Search.astro";
---

<SimpleLayout title="Willkommen">
  <h2>Hallo</h2>
  <div class="hero__search">
    <Search />
  </div>
</SimpleLayout>
```

<style>
  .hero__search {
    max-width: 520px;
    margin-top: 1.2rem;
  }
</style>
