---
import Search from "@astrojs/starlight/components/Search.astro";
import Button from "./Button.astro";
import { ArrowRight, Download } from "lucide-astro";
---

<div class="ms-header">
  <div class="ms-left"></div>

  <div class="ms-right-group">
    <Search />
    <Button text="Kontakt" href="/kontakt">
      <ArrowRight slot="icon-right" />
    </Button>
  </div>
</div>

<style>
  @media (max-width: 600px) {
    .ms-btn--orange {
      display: none !important;
    }
  }
</style>
