---
import Header from "../components/Header.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "HEV Doku", description = "Willkommen zur HEV Dokumentation" } =
  Astro.props;
---

<!doctype html>
<html lang="de" dir="ltr" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <title>{title}</title>

    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/@pagefind/default-ui@latest/css/ui.css"
    />
  </head>
  <body>
    <Header />
    <main class="custom-main">
      <slot />
    </main>
  </body>
</html>
